{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block content %}



<div class="bg-gray-100 py-10">
    <!-- Product Detail Container -->
    <div class="container mx-auto px-4">
        <div class="flex flex-col lg:flex-row bg-white shadow-lg rounded-lg overflow-hidden">
            <!-- Product Images -->
            <div class="lg:w-1/2 p-6">
                <div class="relative">
                    <img id="mainImage" src="{{ da.imagenes.first.imagen.url }}" alt="Product Image" class="w-full h-96 object-cover mb-4 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer rounded-lg shadow-md" onclick="openModal(this.src)">
                    <div class="absolute top-0 right-0 bg-white bg-opacity-75 p-2 rounded-bl-lg text-gray-700">
                        <span class="text-sm font-semibold">Zoom</span>
                    </div>
                </div>
                <div class="flex space-x-4 overflow-x-auto py-4">
                    {% for o in da.imagenes.all %}
                        <img src="{{ o.imagen.url }}" alt="Thumbnail" class="w-24 h-24 object-cover cursor-pointer transition duration-300 ease-in-out transform hover:scale-105 rounded-lg shadow-md" onclick="changeMainImage(this)">
                    {% endfor %}
                </div>
                <div class="bg-gray-100 py-10">
                    <div class="container mx-auto px-4">
                        <div class="bg-white shadow-lg rounded-lg overflow-hidden p-6">
                            <!-- Información del producto -->
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                <!-- Nombre -->
                                <div class="p-4 border-b-2 md:border-r-2 border-gray-200">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Nombre</h2>
                                    <p class="text-lg text-gray-900">{{ da.nombre }}</p>
                                    
                                </div>
                
                                <!-- Dirección -->
                                <div class="p-4 border-b-2">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Dirección</h2>
                                    <p class="text-lg text-gray-900">{{ da.direccion }}</p>
                                </div>
                
                                <!-- Descripción -->
                                <div class="p-4 border-b-2 md:border-r-2 border-gray-200">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Descripción</h2>
                                    <p class="text-lg text-gray-900">{{ da.descripcion }}</p>
                                </div>
                
                                <!-- Precio por día -->
                                <div class="p-4 border-b-2">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Precio por día</h2>
                                    <p class="text-lg text-gray-900">${{ da.precio_dia }}</p>
                                </div>
                
                                <!-- País -->
                                <div class="p-4 border-b-2 md:border-r-2 border-gray-200">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">País</h2>
                                    <img src="{{ da.country.flag }}" alt="Bandera de {{ da.country.name }}" class="inline-block h-6">
                                    
                                    
                                    <p class="text-lg text-gray-900">{{ da.country.name }}</p>
                                </div>
                              
                
                                <!-- Disponibilidad -->
                                <div class="p-4 border-b-2">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Disponible</h2>
                                    <p class="text-lg text-gray-900">{{ da.esta_disponible }}</p>
                                   

                                </div>
                
                                <!-- Dueño -->
                                <div class="p-4">
                                    <h2 class="text-xl font-semibold text-gray-700 mb-2">Dueño</h2>
                                    <p class="text-lg text-gray-900">{{ da.dueno }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

            <!-- Product Details -->
            <div class="lg:w-1/2 p-6">
                <h1 class="text-4xl font-bold text-gray-800 mb-4">{{ da.nombre }}</h1>
                <p class="text-gray-600 mb-6 leading-relaxed">{{ da.descripcion }}</p>
                <div class="mb-6">
                    <span class="text-3xl font-bold text-gray-900">${{ da.precio_dia }}</span>
                </div>
                <button class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out mb-6 text-lg font-semibold">Contacto</button>
                <a href="javascript:history.back()" class="text-blue-500 hover:text-blue-600 flex items-center space-x-2">
                    <i class='bx bx-arrow-back bx-tada text-2xl'></i>
                    <span class="text-lg font-medium">Volver</span>
                </a>

                <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">Otros lugares Similares</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <!-- Similar Products -->
                    {% for a in similar_locales %}
                    <a href="{% url 'detalles' a.id %}" class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105 p-3">
                        <img src="{{ a.imagenes.first.imagen.url }}" alt="Similar Product" class="w-full h-40 object-cover mb-3 rounded-md">
                        <h3 class="text-lg font-semibold text-gray-800 mb-1">{{ a.nombre }}</h3>
                        <span class="text-xl font-bold text-gray-800">${{ a.precio_dia }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="imageModal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden z-50">
    <span class="absolute top-5 right-5 text-white text-4xl cursor-pointer" onclick="closeModal()">&times;</span>
    <img id="modalImage" class="max-w-full max-h-full rounded-lg shadow-lg">
</div>

<script>
function changeMainImage(thumbnail) {
    const mainImage = document.getElementById('mainImage');
    mainImage.src = thumbnail.src;
}

function openModal(src) {
    const modal = document.getElementById('imageModal');
    const modalImage = document.getElementById('modalImage');
    modalImage.src = src;
    modal.classList.remove('hidden');
}

function closeModal() {
    const modal = document.getElementById('imageModal');
    modal.classList.add('hidden');
}
</script>
{% endblock content %}
