{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-slate-800 flex flex-col items-center justify-center bg-cover bg-center";">
    <div class="bg-white bg-opacity-80 p-10 rounded-lg shadow-lg text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Bienvenido a Hankry</h1>
        <p class="text-gray-600 mb-8">Encuentre los mejores lugares para alquilar</p>
        <form method="GET" action="{% url 'buscar' %}" class="relative w-full max-w-lg">
            <input type="text" name="q" id="query" class="w-full px-6 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500" placeholder="Busque el lugar..">
            <button type="submit" class="absolute right-2 top-2 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">
                <i class='bx bx-search-alt-2'></i>
            </button>
        </form>
    </div>

    <div class="container mx-auto px-4">
        {% if results %}
            <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Resultados de la búsqueda:</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for i in results %}
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                        {% if i.imagenes.first.imagen.url %}
                            <img src="{{ i.imagenes.first.imagen.url }}" alt="Product Image" class="w-full h-48 object-cover">
                        {% endif %}
                        <div class="p-6">
                            <h3 class="text-xl font-semibold text-gray-800">{{ i.nombre }}</h3>
                            <p class="text-gray-600 mt-2">{{ i.descripcion }}</p>
                            <div class="mt-4 flex justify-between items-center">
                                <span class="text-2xl font-bold text-gray-800">{{ i.precio_dia }}</span>
                                <a href="{% url 'detalles' i.id %}">
                                    <button class="bg-neutral-800 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Conoce más</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-white text-center">No se encontraron resultados.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
